# .ebextensions/99datadog.config
option_settings:
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: DD_AGENT_VERSION_MAJOR_VERSION
      value: "7"
    - namespace:  aws:elasticbeanstalk:application:environment
      option_name:  DD_API_KEY
      value:  ""

files:
    "/etc/datadog-agent/datadog.yaml": 
        mode: "000640"
        owner: root # will be changed to dd-agent after the installation
        group: root
        content: |
            # Add here the Agent configuration
            api_key: "<YOUR API KEY HERE>"
            site: datadoghq.com
            process_config:
                enabled: "true"
            logs_enabled: true

    "/datadog_install_script.sh": 
        mode: "000700"
        owner: root
        group: root
        source: https://s3.amazonaws.com/dd-agent/scripts/install_script.sh

    "/configure_datadog_yaml.sh":
        mode: "000700"
        owner: root
        group: root
        content: |
            #!/bin/bash

            # enable npm
            echo -e "network_config:\n  enabled: \"true\"\n" > /etc/datadog-agent/system-probe.yaml

            chmod 644  /var/log/php-fpm/error.log

    "/install_apm.sh":
        mode: "000700"
        owner: root
        group: root
        content: |
            #!/bin/bash
            tracer_version=0.69.0

            # Check if a tracer is already installed
            if rpm -q datadog-php-tracer &>/dev/null; then

                # compare version to know if it needs to be reinstalled
                version=$(yum info datadog-php-tracer | grep "Version" | awk '{print $3}')
                if [ "$tracer_version" != "$version" ]; then
                    # remove previous tracer
                    rpm -e datadog-php-tracer

                    # download the new tracer
                    wget -O /datadog/datadog-php-tracer.rpm https://github.com/DataDog/dd-trace-php/releases/download/$tracer_version/datadog-php-tracer-$tracer_version-1.x86_64.rpm

                    # Install the tracer for PHP-FPM
                    DD_TRACE_PHP_BIN=$(which php-fpm) rpm -ivh /datadog/datadog-php-tracer.rpm
                fi
            else
                # download the new tracer
                wget -O /datadog/datadog-php-tracer.rpm https://github.com/DataDog/dd-trace-php/releases/download/$tracer_version/datadog-php-tracer-$tracer_version-1.x86_64.rpm

                # Install the tracer for PHP-FPM
                DD_TRACE_PHP_BIN=$(which php-fpm) rpm -ivh /datadog/datadog-php-tracer.rpm
            fi

            # Add unified service tags to the application
            echo -e "\nenv[DD_SERVICE] = beanstalk-demo" >> /etc/php-fpm.d/www.conf
            echo "env[DD_ENV] = demo" >> /etc/php-fpm.d/www.conf
            echo "env[DD_version] = 1.0.0" >> /etc/php-fpm.d/www.conf

            # restart the application for apm to work
            systemctl restart php-fpm

container_commands:
    03install_datadog:
        command: "DD_API_KEY=unused /datadog_install_script.sh; sed -i 's/ install_script/ ebs_install_script/' /etc/datadog-agent/install_info"
    04setup_datadog:
        test: '[ -x /configure_datadog_yaml.sh ]'
        command: "/configure_datadog_yaml.sh"
    05load_config_datadog:
        command: "chown -R dd-agent:dd-agent ddagent &&  rsync -av --delete ddagent/config.d/* /etc/datadog-agent/conf.d/"
    06restart_datadog:
        command: "systemctl restart datadog-agent"
    07setup_apm:
        command: "/install_apm.sh"
